*{
  box-sizing: border-box;
}
h2{
  text-align: center;
  margin: 20px 0px;
}
div{
  background-color: gray;
  border: 2px solid black;
  margin-top:20px;
}
.pink{
  background-color: pink;
}
.red{
  background-color: rgb(189, 68, 68);
}
.yellow{
  background-color: rgb(226, 226, 99);
}

span{
  text-align: center;
  border: 2px solid black;
  width: 90px;
  float: right;
  font-size: larger;

}


p{
  /* background-color: gray; */
  padding :5px;
}

@media(min-width : 1200px) {
  div{
    width: 32%;
    float: left; 
    height: 280px;
  }
  .second,.third{
    margin-left: 5px;
  }
}

@media (min-width:950px) and (max-width:1199px) {
  div{
    width: 45%;
    margin-left:30px;
    float: left;
  }
  .third{
    margin-top: 30px;
    width:93%;
  }
  
}
